
<a href="https://www.strava.com/oauth/authorize?client_id=12179&response_type=code&redirect_uri=<%= @redirect_to_host %>/token/receive&scope=view_private&approval_prompt=auto">
    <%= image_tag("LogInWithStrava.png") %>
</a>

<br /><br /><br />
<p>Proof of concept: Strava all-time ride stats, including elevation gain.</p>
<p><a href="https://github.com/brettcave/strava-profile" target="_blank">Source code</a></p>

