<h1>Log in</h1>
<a href="https://www.strava.com/oauth/authorize?client_id=12179&response_type=code&redirect_uri=http://localhost:3000/token/receive&scope=view_private&approval_prompt=auto">
    <%= image_tag("LogInWithStrava.png") %>
</a>